<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uncc.chatapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".AllFriendsListActivity" />
        <activity android:name=".FriendDetailsActivity" />
        <activity android:name=".AllTripsListActivity" />
        <activity android:name=".TripDetailsActivity" />
        <activity android:name=".AllUsersListActivity" />
        <activity android:name=".CreateNewUserActivity" />
        <activity android:name=".MenuBaseActivity"/>
        <activity android:name=".CreateTripActivity" />
        <activity android:name=".ChatroomActivity"></activity>

    </application>

</manifest>